#navigation {
 background-color: #b71540;
 padding: 20px 10px;
 font: normal 20px Sans-Serif;
}

#navigation li a {
 color: #ffffff;
}

.navbar-brand,
.navbar-brand:hover {
 color: #fff;
}

.navbar-toggler-icon {
 background-image: url(../images/icons/menu.png);
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../images/icons/prev.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../images/icons/next.png);
}

.titleMessage {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 5;
  text-align: center;
}

.heading p {
  color: #ffffff;
  font: bold 40px Sans-Serif;
  text-shadow: 0 2px 0 #c9c9c9;
  letter-spacing: 7px;
}

 p.typed {
  font: bold 20px Sans-Serif;
}

hr{
  background-color:  #b71540;
}
.about-container{
    margin: 60px 100px;
}
.about{
  display: grid;
  grid-template-columns: .5fr 1fr;

}
.about-container h2{
  text-align: center;
  font: bold 30px Sans-Serif;
  margin-bottom: 30px;
  text-shadow: 0 6px 0 #c9c9c9;
}

.aboutimg {
  width: 220px;
}

.intro{
  font-size: 1.3em;
  font-family: sans-serif;
}
.intro>h4{
  font-weight: bold;
  text-align: center;
}

.skills{
  background-color: #b71540;
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: center;
  padding: 70px;
}
.skills h2{
  color: #000;
  font: bold 30px Sans-Serif;
  margin-bottom: 30px;
  text-shadow: 0 3px 0 #c9c9c9;
}
.skills h3{
  color: #fff;
  font: bold 20px Sans-Serif;
}
.skillSection-2{
  margin-top: 100px;
}
.skillSection-1 input,
.skillSection-2 input{
  text-align: center;
  background: #0e8dbc;
  font: bold 30px Sans-Serif;
  text-shadow: 0 3px 0 #c9c9c9;
}
.projects-container{
  text-align: center;
  margin-top: 80px;
  font: bold 20px Sans-Serif;
  text-shadow: 0 4px 0 #c9c9c9;
}
.myProjects {
  margin-bottom: 80px;
}
.myProjects h2{
  color: #000;
  font: bold 30px Sans-Serif;
  margin-bottom: 30px;
  text-shadow: 0 6px 0 #c9c9c9;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-bottom: 100px;
}

.projects img{
  height: 150px;
}
.projects img:hover  {
  transform: scale(1.2, 1.2);
}
.projects figcaption:focus {
  color: #c9c9c9;
}

.contact{
  background-color: #b71540;
  color: #fff;
  text-align: center;
  font: bold 15px Sans-Serif;
  padding: 50px;
}
.contact h2{
  color: #000;
  font: bold 30px Sans-Serif;
  margin-bottom: 30px;
  text-shadow: 0 3px 0 #c9c9c9;
}
.contactButton {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.contactButton:hover {
  text-decoration: none;
  color: #e74c3c;
  background-color: #fff;
}

.footer{
  display: grid;
  background-color: #000;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  text-align: center;
}
.copyrightSection {
  color: #fff;
  font: bold 15px Sans-Serif;
}
.social-medias{
}
 @media (max-width: 1024px){
    .about{
      width: 90%;
    }
    .projects{
      width: 90%;
      padding: 0;
    }
    .footer{
      width: 90%;
    }
  }
  @media (max-width: 768px) {
    .heading p{
      font-size: 2em;
    }
    p.typed{
      font-size: 1em;
    }
    .about{
      width: 100%;
      border: none;
      display: block;
    }
    .intro{
      font-size: 1em;
    }
    .skillSection-1 input,
    .skillSection-2 input{
      font-size: 1em;
    }
    .projects{
      width: 100%;
      display: block;
      border: none;
    }
    .footer{
      width: 100%;
      display: block;
      border: none;

    }
  }
